.media {
  padding-top: 20px;
}

.coverImg {
  padding-left: 17%;
}

.mediaBody {
  text-align: left;
  padding-left: 3%;
  padding-right: 17%;
}

.similarGames {
  padding-top: 4%;
  padding-left: 10%;
  text-align: left;
}